@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Pacifico&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.navbar-brand span {
  font-family: 'Pacifico', cursive;
}

/* Hero Section */
.hero-section {
  background: url('../src/assets/images/gifts.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh; 
  position: relative;
}

.hero-section .overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.hero-section .hero-content {
  z-index: 1;
  position: relative;
  padding: 20px;
  text-align: center;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
}

.hero-section h1 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.hero-section p {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 20px;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 75%);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  transition: background 0.3s ease;
}

.header.scrolled {
  background: rgba(0, 0, 0, 0.8); /* Solid background after scrolling */
}

.love-icon {
  cursor: pointer;
  z-index: 10;
}

.product-card {
  position: relative;
}

.product-image {
  object-fit: cover;
  height: 200px;
}


footer .social-icons a:hover {
  color: #00aced; /* Twitter blue */
  transform: scale(1.1); /* Slight scale-up effect */
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition */
}


/* Product Cards */
.product-listing .card {
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.product-listing .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.product-listing .card img {
  border-radius: 8px 8px 0 0;
  height: 250px;
  object-fit: cover;
}

.product-listing .card-body {
  padding: 20px;
}

.product-listing .card-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.product-listing .card-text {
  color: #6c757d;
  font-size: 0.875rem;
}

.product-listing .btn {
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: 600;
}

.product-listing .btn-primary {
  background-color: #007bff;
  border: none;
}

.product-listing .btn-primary:hover {
  background-color: #0056b3;
}

/* Keyframe for heart pop animation */
@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/* Class for the pop animation */
.heart-pop {
  animation: pop 0.3s ease;
}


/* Responsive Grid */
@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 2.5rem;
  }

  .hero-section p {
    font-size: 1rem;
  }

  .product-listing .card {
    margin-bottom: 15px;
  }
}
